*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: rgb(206, 219, 210);
}
.main{
   margin-top: 15px;
 
}
.movie-card{
    position: relative;
    width: 60%;
    height: 180px;
    display: flex;
    background-color: white;
    margin-left: 20%;
    
   
}
.left{
    width: 20%;

}
.right{
    margin-left: 25px;
    width: 80%;
    
   
}
.heading{
    margin-top: 10px;
}
.plot{
    margin-top: 1cqi;
}
.price{
    margin-top: 7px;
}

.footer{
    
    position: absolute;
    top:140px ;
    display: flex;
    width: 70%;
   
    
}

.star{
    margin-left: 100px;
}
.starimg{
    width: 20px;
    height: 20px;
}
.stardec{
    width: 12px;
    height: 12px;
}
.starinc{
    width: 12px;
    height: 12px;
}
.btnbox{
  margin-left: 170px;
}
.fav-button{
width: 120px;
height: 28px;
margin-left: 10px;
background-color:purple;
color: white;
}
.unfav-button{
    width: 120px;
height: 28px;
margin-left: 10px;
background-color: red;
color: white;
}
.buy-button{
    width: 120px;
height: 28px;
margin-left: 10px;
background-color: blue;
color: white;
}